.sidenav {
  height: 100%;
  z-index: 1;
  background-color: rgb(145, 223, 243);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav .sideNavHeader {
  font-size: 7.5em;
  margin-top: 9%;
  margin-bottom: 4%;
}

.sideNavList{
  display: flex;
  flex-direction: column;
  font-size: 25px;
  padding: 0% 15% 0% 10%;
}

@media(min-width: 640px) {
  .sidenav .sideNavHeader {
    font-size: 4em;
  }
  
  .sideNavList {
    font-size: 3em;
  }
}

@media(min-width: 1250px) {
  .sidenav .sideNavHeader {
    font-size: 2.4em;
  }

  .sideNavList {
    font-size: 2em;
  }
}

a:-webkit-any-link {
  text-decoration: none;
}

.sideNavList a{
  margin-bottom: 10%;
  cursor: pointer;
}

a:visited { text-decoration: none; color:black; }



.sideNavList a.chosen,
.sideNavList a:hover {
  color: rgb(37, 120, 245);
}

.sideNavList a:hover {
  text-decoration: underline;
}




@media(max-width: 900px) {
  .sidenav{
    position: relative;
    background-color: rgb(145, 223, 243);;
    width: 100%
  }
  
 .sidenav li {
   font-size: 1vw;
 }
}