.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(145, 223, 243);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav li {
  font-size: 25px;
  display: block;
  padding-bottom: 4%;
}

h2{
  text-align: center;
}