.sidenav {
  height: 100%;
  z-index: 1;
  background-color: rgb(145, 223, 243);
  overflow-x: hidden;
  padding-top: 20px;
}

.sideNavList{
  display: flex;
  flex-direction: column;
  font-size: 25px;
  padding: 0% 15% 0% 10%;
}

a:-webkit-any-link {
  text-decoration: none;
}

.sideNavList a{
  margin-bottom: 10%;
  cursor: pointer;
}

a:visited { text-decoration: none; color:black; }



.sideNavList a.chosen,
.sideNavList a:hover {
  color: rgb(37, 120, 245);
}

.sideNavList a:hover {
  text-decoration: underline;
}

h2{
  text-align: center;
}

@media(max-width: 900px) {
  .sidenav{
    position: relative;
    background-color: rgb(145, 223, 243);;
    width: 100%
  }
  
 .sidenav li {
   font-size: 15px;
 }

 h2 {
   font-size: 20px;
 }
}