.SideDrawer {
  position: fixed;
  width: 300px;
  max-width: 70%;
  height: 100%;
  z-index: 2;
  top:0; 
  left:0;
  display: block;
  transition: transform 0.3s ease-out;
}

.menuBtnContainer {font-size: '5em'}

.menuBtn {
  position: absolute;
  z-index: 1; 
  color: white;
  font-size: 4em;
}

@media(min-width: 900px) {
  .menuBtn {
    display: none;
  }
  .SideDrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}
