.container {
  padding: 0% 2%;
}

.courseInfo{
  margin: 3%;
  cursor: pointer;
}

.courseContainer{
  border-bottom: black 2px solid;
  
}

.homeImage {
  background-image: url("../../Images/HomeImage.jpg");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.testName{
  cursor: pointer;
}