.container {
  padding: 0% 2%;
}

.courseInfo{
  margin: 3%;
  cursor: pointer;
}

.courseContainer{
  border-bottom: black 2px solid;
  
}

.homeImage {
  background-image: url("../../Images/HomeImage.jpg");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.testName{
  cursor: pointer;
}

.courseTitle {
  font-size: 7vw;
}

@media(min-width: 640px) {
  .courseTitle {
    font-size: 4.5vw;
  }
}

@media(min-width: 1024px) {
  .courseTitle {
    font-size: 2.5em;
  }
}
