.AddClassHeaderImage {
  background-image: url("../Images/cartoon-classroom-3d-model-3d-model-low-poly-max--obj-mtl-3ds-fbx-c4d-dae.jpg");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.test {
  padding: 8.5% 5%;
}