.headerImage {
  background-image: url("../Images/addGradeImg.jpg");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media(min-width: 640px) {
  .selectedTest {
    margin-bottom: 10%;
  }
}
