.addTestHeaderImage {
  background-image: url('../Images/scantronImg.jpg');
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}