.addTestHeaderImage {
  background-image: url('../Images/scantronImg.jpg');
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.select {
  width: 100%;
  font-size: 25px;
  background-color: rgb(145, 223, 243);
}