table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 42%;
}

th, td {
  border-bottom: 1px solid black;
  text-align: center;
}

th {
  padding: 2%;
  background: rgb(145, 223, 243);
 }

 tr:nth-child(even) {
  background: rgb(145, 223, 243);
}