.main {
  margin-left: 20%;
  font-size: 28px;
  position: relative;
  z-index: 0;
}

.mainContainer{
  padding: 0% 2%;
}

input {
  margin: 1%;
  font-size: 15px;
}

select {
  font-size: 15px;
  margin: 1%;
}

@media(max-width: 900px) {
  .nav {
    display: none;
  }
  .main {
    margin-left: 0;
    font-size: 28px;
    top: 0px;
    left: 0px;
  }
}