

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: white;
  background-image: url("./Images/1772226.jpg");
  
}

html, body {
  height: 100vh;
  font-size: 1vw
}

h1 {
  font-size: 10vw;
}

h4 {
  font-size: 6vw;
}

@media(min-width: 640px) {
 
  
  h1 {
    font-size: 6em;
  }
  
  h4 {
    font-size: 4vw;
  }
}



@media(min-width: 1024px) {
  h1 {
    font-size: 4em;
  }
  
  h4 {
    font-size: 2em;
  }
}

@media(min-width: 1920px) {
  html, body {
    font-size: 1em
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
